<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/remove-me.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/ws.js"></script>
    <title>Title</title>
</head>
<body>
<div id="header">
    <nav>
        <strong>PyCon</strong>
        <a hx-get="/login">Login</a>
        { %if
        <a hx-get="/servers">Servers</a>
        <span hx-ext="ws" ws-connect="/heartbeat" id="heartbeat" class="fixed top right">

    </span>
    </nav>
</div>
<div id="content">

</div>
<div id="notifications" class="sticky bottom right" hx-ext="remove-me">

</div>
</body>
</html>